---
layout: layout.liquid
title: Planet Playing Cards
---

<h2>Planetary Playing Cards</h2>
<main onload="SetAllAttributes()">
	<div class="Sun" id="sun" data-AU="G2V Type">{% include '_card.html' %}</div>
	<div class="Mercury" id="mercury" data-AU="0.4 AU">{% include '_card.html' %}</div>
	<div class="Venus" id="venus" data-AU="0.7 AU">{% include '_card.html' %}</div>
	<div class="Earth" id="earth" data-AU="1.0 AU">{% include '_card.html' %}</div>
	<div class="Mars" id="mars" data-AU="1.5 AU">{% include '_card.html' %}</div>
	<div class="Jupiter" id="jupiter" data-AU="5.2 AU">{% include '_card.html' %}</div>
	<div class="Saturn" id="saturn" data-AU="9.6 AU">{% include '_card.html' %}</div>
	<div class="Uranus" id="uranus" data-AU="19.2 AU">{% include '_card.html' %}</div>
	<div class="Neptune" id="neptune" data-AU="30.0 AU">{% include '_card.html' %}</div>
	<script src="scripts/main.js">
		SetAllAttributes();
	</script>
</main>

