:root {
    --card-background-color: gray;
}

body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 300px;
    gap: 40px;
}

.Sun {
    background: var(--card-background-color);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-body {
        .avatar {
            background: radial-gradient(circle, rgba(251,244,63,1) 0%, rgba(252,135,70,1) 100%);
        }
    }
}

.Mercury {
    background: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-body {
        .avatar {
            background: radial-gradient(circle, rgba(143,92,6,1) 0%, rgba(252,70,70,1) 100%);;
        }
    }
}

.Venus {
    background: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-body {
        .avatar {
            background: brown;
        }
    }
}

.Earth {
    background: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-body {
        .avatar {
            background: radial-gradient(circle, rgba(0,67,255,1) 0%, rgba(0,255,14,1) 20%, rgba(0,33,191,1) 89%);
        }
    }
}

.Mars {
    background: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-body {
        .avatar {
            background: radial-gradient(circle, rgba(255,140,140,1) 0%, rgba(148,95,0,1) 100%);
        }
    }
}

.Jupiter {
    background: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-body {
        .avatar {
            background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,217,164,1) 5%, rgba(187,169,112,1) 100%);
        }
    }
}

.Saturn {
    background: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-body {
        .avatar {
            background: background: radial-gradient(circle, rgba(255,217,164,1) 0%, rgba(187,169,112,1) 100%);
        }
    }
}

.Uranus {
    background: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-body {
        .avatar {
            background: radial-gradient(circle, rgba(164,255,250,1) 0%, rgba(156,155,255,1) 100%);
        }
    }
}

.Neptune {
    background: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-body {
        .avatar {
            background: radial-gradient(circle, rgba(6,143,136,1) 0%, rgba(71,70,252,1) 100%);
        }
    }
}

.card-body {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-auto-rows: 20px;
    gap: 5px;
}

.body-name {
    font-size: 1.4em;
}

.avatar {
    background: white;
    border-radius: 50%;
    height: 90%;
    width: 90%;
    grid-row-start: 1;
    grid-row-end: 9;
}